html {
  margin: 0 auto;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: lighten($black, 25%);
  width: 100%;
  text-rendering: optimizeLegibility;
  height: auto;
}

.body__bg--glass,
.body__bg--lionsgate {
  background-repeat: no-repeat;
  background-size: cover;
}

.body__bg--glass {
  background-image: url("./../assets/vincent-guth-unsplash.jpg");
  background-position: right;
}

.body__bg--lionsgate {
  background-image: url("./../assets/lions-gate-bridge-by-lee-robinson-unsplash.jpg");
  background-position: center;

  @include tablet {
    background-size: 50% 100vh;
    background-color: $blue-bg;
    background-position: right;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: lighten($black, 25%);

  &:visited {
    color: lighten($black, 25%);
  }
}

// Utility class that can be extended
.container {
  width: 90%;
  max-width: $desktop-bp;
  margin: 0 auto;

  @include tablet {
    width: 85%;
  }

  @include desktop {
    width: 80%;
  }
}
