.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects img {
  width: 250px;
  height: auto;
  @include mobile-larger-bp {
    width: 300px;
  }

  @include tablet {
    width: 600px;
  }
}

.carousel-cell {
  width: 95%;
  padding: 10px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.projects span {
  line-height: 150%;
}
