.projects {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects img {
  width: 55%;
  height: auto;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 45%;
  }
}

.carousel-cell {
  width: 95%;
  // padding: 10px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  @include desktop {
    flex-direction: row;
  }
}

.carousel-cell__mobile {
  display: flex;

  @include tablet-larger-bp {
    display: none;
  }
}

.carousel-cell__full {
  display: none;

  @include tablet-larger-bp {
    display: flex;
  }
}

.projects span {
  line-height: 150%;
}

.projects p {
  width: 250px;

  @include mobile-larger-bp {
    width: 300px;
  }

  @include tablet {
    width: 450px;
  }
}

.projects h2 {
  margin-bottom: 10px;
}

.projects-info {
  @include tablet {
    font-size: 1.5rem;
  }
}

.projects-info .github {
  width: 50px;
  margin-right: 5px;
}

.projects-info .live {
  width: 48px;
  margin-left: 5px;
}
