// Breakpoints
$mobile-larger-bp: 375px;
$tablet-bp: 750px;
$tablet-larger-bp: 1000px;
$desktop-bp: 1440px;

//Font
$font-family-primary: "Montserrat", sans-serif;

// Colors
$yellow: #ffde03;
$blue: #0336ff;
$pink: #ff0266;
$purple: #4a14ac;
$black: #000000;
$white: #ffffff;
$blue-bg: rgba(1, 217, 255, 0.1);
